<config>
    <!--Configuration parameters for CargoNetSim-->
    <simulation>
        <shortest_paths>10</shortest_paths>
        <time_step>15</time_step>
        <time_value_of_money>24.080000</time_value_of_money>
        <use_mode_specific>false</use_mode_specific>
    </simulation>
    <fuel_energy>
        <HFO>11.100000</HFO>
        <diesel_1>10.700000</diesel_1>
        <diesel_2>10.000000</diesel_2>
    </fuel_energy>
    <fuel_carbon_content>
        <HFO>3.150000</HFO>
        <diesel_1>2.680000</diesel_1>
        <diesel_2>2.680000</diesel_2>
    </fuel_carbon_content>
    <fuel_prices>
        <HFO>0.560000</HFO>
        <diesel_1>1.350000</diesel_1>
        <diesel_2>1.350000</diesel_2>
    </fuel_prices>
    <carbon_taxes>
        <rate>65.000000</rate>
        <ship_multiplier>1.000000</ship_multiplier>
        <rail_multiplier>1.000000</rail_multiplier>
        <truck_multiplier>1.000000</truck_multiplier>
    </carbon_taxes>
    <transport_modes>
        <ship>
            <average_container_number>10000</average_container_number>
            <average_fuel_consumption>21.000000</average_fuel_consumption>
            <average_speed>42.600000</average_speed>
            <fuel_type>HFO</fuel_type>
            <risk_factor>0.025000</risk_factor>
            <time_value_of_money>13.430000</time_value_of_money>
        </ship>
        <rail>
            <average_container_number>180</average_container_number>
            <average_fuel_consumption>5.500000</average_fuel_consumption>
            <average_speed>88.500000</average_speed>
            <fuel_type>diesel_1</fuel_type>
            <risk_factor>0.006000</risk_factor>
            <time_value_of_money>16.430000</time_value_of_money>
            <use_network>true</use_network>
        </rail>
        <truck>
            <average_container_number>1</average_container_number>
            <average_fuel_consumption>0.550000</average_fuel_consumption>
            <average_speed>88.500000</average_speed>
            <fuel_type>diesel_2</fuel_type>
            <risk_factor>0.012000</risk_factor>
            <time_value_of_money>31.430000</time_value_of_money>
            <use_network>true</use_network>
        </truck>
    </transport_modes>
</config>
